@charset "UTF-8";

body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: #d3d3d3;
    text-align: center;
}

.header-div {
    background-color: #727171;
    margin-bottom: 20px;
}

main {
    margin: auto;
    height: 500px;
    width: 500px;
}

section div {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
}

.section-fotos-one, .section-fotos-two, .section-fotos-tre {
    display: flex;
    gap: .8rem;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}



