@charset "UTF-8";

body {
    font-family: "Josefin Sans";
    background-color: #3f3f3f;
}

.header {
    background-color: #d3d3d3;
    text-align: center;
}

.header-div {
    background-color: #727171;
    margin-bottom: 20px;
}

main {
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: #fff;
}

section div {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
}

.section-fotos-one, .section-fotos-two, .section-fotos-tre {
    display: flex;
    gap: .8rem;
    margin-bottom: 10px;
    transition: all 250ms;
    width: 320px;
    padding: 10px;
    justify-content: center;
}

.section-fotos-one:hover, 
.section-fotos-two:hover, 
.section-fotos-tre:hover{
    filter: brightness(1.2); /*efeito de brilho*/
    transform: translateY(-2px);/*translateY move o efeito no eixo y*/
}

footer {
    text-align: center;
    padding-bottom: 2rem;
  }
  footer span {
    font-weight: bold;
    color: #20C997;
  }



